{
  "include": [
    "src/*.ts",
    "src/**/*.ts"
  ],
  "extension": [
    ".ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "src/index.ts",
    "src/ResourceErrorData.ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "all": true
}
